.home {
    display: flex;
    /* height: 100%;
    width: 100%; */
    width: 1920px;
    height: 1080px;
    background-image: url(./img/Group_193.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

.navbar {
    display: contents;
}
.navbar-content {
    background: linear-gradient(359.43deg, #ff5400 2.1%, #f17f21 98.52%);
    box-shadow: 4px 4px 15px rgba(122, 176, 225, 0.25);
    height: 1080px;
    position: relative;
    width: 112px;
    z-index: 100;
}


.logo-nav{
  display: block;
  margin: 0 auto;
  /* border-style: solid; */
  padding-bottom: 81px;
  padding-top: 58px;
  position: relative;

}

.navbar-icons {
    /* align-items: center; */
    /* cursor: pointer; */
    /* display: flex; */
    height: 500px;
    /* justify-content: center; */
    margin: 0px 0px 0px 15px;
    padding: 0px;
    position: relative;
    width: 80px;
    list-style: none;
    display:inline-block;
    /* border-style: solid; */
  }

.icon-sidebar {
    text-align: center;
    width: 80px;
    height: 80px;
    /* border-style: solid; */
    border-radius: 16px;
    padding-top: 20px;
    
}


.navbar-content {
    /* border-style: solid; */
}

.navbar-menu {
    background: #ffffff;
    box-shadow: 4px 4px 10px rgba(133, 178, 220, 0.25);
    height: 1080px;
    left: 112px;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: all linear 0.2s;
    width: 285px;
    z-index: 50;
    /* border-style: solid; */
    padding-top: 200px;
    
}
.navbar:hover .navbar-menu {
    transform: translateX(0);
}

.menu-title-content {
  color: #373839;
  opacity: 0.7;
}

.top-nav {
  width: 1808px;
  height: 160px;
  /* border-style: solid; */
}

.user-acc {
  width: 1808px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 14px;
  padding-right: 64px;
  font-size: 16px;
  /* border-style: solid; */
  
}
.user-icon {
  margin-right: 5px;
}
.account-name {
  line-height: 40px;
  font-weight: 700;
  border-right: 1px solid #823B00;
  text-align: center;
  margin-top: auto;
  padding-right: 10px;
}

.log-out{
  line-height: 40px;
  text-decoration: underline;
  color: #FF7506;
  
  /* border-style: solid; */
  padding-left: 10px;
}

.title-address {
  /* border-style: solid; */
  width: 650px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  margin-left: 100px;
  text-align: center;
}

.title-address h1 {
  font-size: 48px;
  /* border-style: solid; */
  margin-top: auto;
  padding: 24px;
}

.title-address p {
  font-size: 18px;
  padding-left: 10px;
  text-align: center;
  margin-top: auto;
  color: #C9C4C0;
}
.title_home-icon{
  padding-left: 23px;
  width: 50px;
  height: 30px;
}
.navbar-menu-list {
  list-style: none;
  /* border-style: solid; */
  /* padding: revert; */
  padding: 0px;
}
.navbar-menu-list > li {
  padding-bottom: 41px;
}

.menu-title-content .title-content-active {
  text-decoration: none;
  color: #FF7506;
  font-weight: 700;
  font-size: 18px;
  margin-left: 30px;
  /* border-style: solid;   */
}

.menu-title-content .title-content {
  color:#373839;
}

.menu-title-content .icon-img {
  padding-right: 10px;
  padding-bottom: 3px;
  display: inline-flex;
}

.menu-title-list {
  padding: 0px;
  padding-top: 15px;
}

.navbar-menu-title-navbar-menu-title--active .menu-title-list {
  /* border-style: solid; */
  display: none;
}

.navbar-menu-title-navbar-menu-title--active:hover .menu-title-list {
  display: block;
}

.navbar-menu-title .menu-title-list {
  display: none;
}

.navbar-menu-title:hover .menu-title-list {
  display: block;
}

.menu-title-list > li {
  list-style: none;
  /* border-style: solid; */
  width: 285px;
  height: 48px;
  line-height: 48px;
  padding-left: 66px;
}

.menu-title-list > li > a {
  text-decoration: none;
  color: #000000;
  opacity: 0.7;
}
.menu-title-list > li:hover {
  background: #F0F3F6;
  color: #000000;
  font-weight: 700;
  opacity: 1;
}



.menu-title-list > .menu-title-item--active {
  font-weight: bold;
  display: block;
}

.menu-title-item {
  display: block;
  opacity: 0.7;
}

.title-content {
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  opacity: 0.7;
  margin-left: 30px;
}

.home-content {
  width: 1640px;
  margin-left: 125px;
}
.content-address {
  display: flex;
  align-items: center;
}

.content-address > .address-present {
  font-size: 48px;
    color: #373839;
    display: inline-block;
}









